################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OSMViewer/bin/Debug
/OSMViewer/obj/Debug
*.licx
*.suo
/packages/Newtonsoft.Json.10.0.3
/.vs/InfragisticsDevProjects/v15/Server/sqlite3
