################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OSMViewer/bin/Debug
/OSMViewer/obj/Debug
*.licx
*.suo
